/* Fonts */

@font-face {
    font-family:'Roboto';
    src:url('../fonts/roboto.eot');
    src:url('../fonts/roboto.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto.woff') format('woff'),
        url('../fonts/roboto.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/robotoi.eot');
    src:url('../fonts/robotoi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/robotoi.woff') format('woff'),
        url('../fonts/robotoi.ttf') format('truetype');
    font-weight:normal;
    font-style:italic;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/robotol.eot');
    src:url('../fonts/robotol.eot?#iefix') format('embedded-opentype'),
        url('../fonts/robotol.woff') format('woff'),
        url('../fonts/robotol.ttf') format('truetype');
    font-weight:300;
    font-style:normal;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/robotom.eot');
    src:url('../fonts/robotom.eot?#iefix') format('embedded-opentype'),
        url('../fonts/robotom.woff') format('woff'),
        url('../fonts/robotom.ttf') format('truetype');
    font-weight:500;
    font-style:normal;
}
@font-face {
    font-family:'Roboto';
    src:url('../fonts/robotob.eot');
    src:url('../fonts/robotob.eot?#iefix') format('embedded-opentype'),
        url('../fonts/robotob.woff') format('woff'),
        url('../fonts/robotob.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'Roboto Condensed';
    src:url('../fonts/robotocb.eot');
    src:url('../fonts/robotocb.eot?#iefix') format('embedded-opentype'),
        url('../fonts/robotocb.woff') format('woff'),
        url('../fonts/robotocb.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'PT Sans';
    src:url('../fonts/ptsans.eot');
    src:url('../fonts/ptsans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ptsans.woff') format('woff'),
        url('../fonts/ptsans.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Autoradiographic';
    src:url('../fonts/autoradiographic.eot');
    src:url('../fonts/autoradiographic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/autoradiographic.woff') format('woff'),
        url('../fonts/autoradiographic.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Rouble';
    src:url('../fonts/rouble.eot');
    src:url('../fonts/rouble.eot?#iefix') format('embedded-opentype'),
        url('../fonts/rouble.woff') format('woff'),
        url('../fonts/rouble.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Fira Sans';
    src:url('../fonts/firasansl.eot');
    src:url('../fonts/firasansl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/firasansl.woff') format('woff'),
        url('../fonts/firasansl.ttf') format('truetype');
    font-weight:300;
    font-style:normal;
}

/* Default */

html {
	height:100%;
}
body {
	width:100%;
	height:100%;
	color:#0a0a0a;
	font-size:12px;
	line-height:16px;
	font-family:'Roboto', sans-serif;
	padding:0;
	margin:0;
	background:#ffffff;
	-webkit-tap-highlight-color:transparent;
}
html * {
	max-height:1000000px;
}
p {
	text-indent:0;
	padding:0;
	margin:0 0 16px;
}
table {
	margin:0 0 16px;
	border-collapse:collapse;
}
table td {
	padding:0;
}
:focus {
	outline:none;
}
img {
	padding:0;
	margin:0;
	border:0;
}
a {
	color:#0a0a0a;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
form {
	margin:0;
}
ul {
	margin:0 0 10px 16px;
	padding:0;
}
ul li {
	padding:0;
	list-style:none;
}
ol {
	margin:0 0 10px 18px;
	padding:0;
}
* +html ol {
	padding:0 0 0 5px;
}
ol li {
	padding:0 0 0 16px;
}
input, select, textarea {
	color:#0a0a0a;
	font-size:12px;
	font-family:'Roboto', sans-serif;
	padding:0;
	margin:0;
	background:none;
	border:0;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
textarea {
	overflow:auto;
}
button {
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	font-weight:500;
	font-family:'Roboto', sans-serif;
	letter-spacing:2px;
	text-transform:uppercase;
	cursor:pointer;
	padding:8px 8px 8px 10px;
	margin:0;
	background:#ac0004;
	border:0;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
button:active {
	padding:9px 8px 7px 10px;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
::-webkit-input-placeholder  {
	color:#606060;
}
:-moz-placeholder {
	color:#606060;
}
::-moz-placeholder {
	color:#606060;
}
:-ms-input-placeholder {
	color:#606060;
}
div.checker,div.radio{position:relative}div.checker input,div.radio input{filter:alpha(opacity=0);border:none}div.checker span,div.radio input,div.radio span{zoom:1;text-align:center}div.button,div.checker,div.radio,div.selector,div.uploader{display:-moz-inline-box;display:inline-block;zoom:1;vertical-align:middle}div.button:focus,div.checker:focus,div.radio:focus,div.selector:focus,div.uploader:focus{outline:0}div.button,div.button *,div.checker,div.checker *,div.radio,div.radio *,div.selector,div.selector *,div.uploader,div.uploader *{margin:0;padding:0}div.checker,div.checker input,div.checker span{width:25px;height:25px;cursor:pointer}div.checker span{display:-moz-inline-box;display:inline-block;background:url(../img/checkbox-icon.png) center top no-repeat}div.checker span.checked{background-position:0 -25px}div.checker input{opacity:0;-moz-opacity:0;background:0 0;display:-moz-inline-box;display:inline-block;zoom:1}div.radio,div.radio input,div.radio span{width:25px;height:25px;cursor:pointer}div.radio span{display:-moz-inline-box;display:inline-block;background:url(../img/radio-icon.png) center top no-repeat}div.radio span.checked{background-position:0 -25px}div.radio input{opacity:0;-moz-opacity:0;background:0 0;display:-moz-inline-box;display:inline-block}
.img-bg {
	display:none;
}
.rouble-icon {
	display:inline-block;
	font-weight:normal;
	font-style:normal;
	font-family:'Rouble', sans-serif;
	vertical-align:top;
	margin:0 0 0 -3px;
}
.wrapper {
	position:relative;
	z-index:1;
	min-width:1000px;
	min-height:100%;
	margin:0 auto;
}

/* Core */

.panel {
	position:relative;
	height:35px;
	background:#ededed;
}
.panel ul {
	position:absolute;
	left:50%;
	top:0;
	margin:0 0 0 -494px;
}
.panel ul li {
	float:left;
}
.panel ul li a {
	display:block;
	color:#3c3c3c;
	font-size:13px;
	line-height:16px;
	padding:8px 14px 11px;
}
.panel ul li a:hover {
	text-decoration:underline;
}
.panel p {
	position:absolute;
	right:50%;
	top:9px;
	font-size:13px;
	line-height:16px;
    font-family:'PT Sans', sans-serif;
	margin:0 -480px 0 0;
}
.panel p a {
	position:relative;
	color:#ac0004;
}
.panel p a:after {
	content:'';
	position:absolute;
	left:0;
	bottom:1px;
	width:100%;
	border-bottom:1px solid #b67b7d;
}
.panel p a:hover:after {
	border-bottom-color:transparent;
}
header {
	position:relative;
	z-index:40;
	width:960px;
	height:170px;
	margin:0 auto;
}
header .logo {
	position:absolute;
	left:50%;
	top:0;
	margin-left:-480px;
}
header .phone {
	position:absolute;
	left:50%;
	top:42px;
	width:350px;
	color:#101010;
    font-family:'Autoradiographic', sans-serif;
	margin-left:-232px;
}
header .phone a {
	color:#101010;
}
header .phone h2 {
	font-size:24px;
	line-height:27px;
	font-weight:normal;
	padding:0;
	margin:0 0 6px;
}
header .phone h4 {
	font-size:24px;
	line-height:27px;
	font-weight:normal;
	padding:0;
	margin:0 0 4px;
}
header .phone p {
	font-size:16px;
	line-height:19px;
	margin:0 0 4px;
}
header .lk-open {
	position:absolute;
	right:50%;
	top:46px;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
	letter-spacing:3px;
	text-transform:uppercase;
	margin:0 -482px 0 0;
}
header .lk-open a {
	position:relative;
	color:#ac0004;
}
header .lk-open a:after {
	content:'';
	position:absolute;
	left:0;
	bottom:-1px;
	width:calc(100% - 2px);
	border-bottom:1px solid #da8c8e;
}
header .lk-open a:hover:after {
	border-bottom-color:transparent;
}
header .lk-drop {
	position:absolute;
	right:0;
	top:73px;
	display:none;
	width:93px;
	z-index:5;
	padding:19px 24px 8px 31px;
	margin:0;
	background:#ffffff;
	border:1px solid #ededed;
}
header .lk-drop:before {
	content:'';
	position:absolute;
	left:50%;
	top:-9px;
	width:22px;
	height:9px;
	margin-left:-11px;
	background:url('../img/lk-drop-arrow.png') no-repeat center top;
}
header .lk-drop li {
	font-size:13px;
	line-height:16px;
	margin:0 0 14px;
}
header .lk-drop li a {
	color:#000000;
	text-decoration:underline;
}
header .lk-drop li a:hover {
	text-decoration:none;
}
header .basket {
	position:absolute;
	right:50%;
	top:80px;
    font-family:'Autoradiographic', sans-serif;
	text-align:right;
	margin-right:-480px;
}
header .basket:before {
	content:url('../img/basket-icon.png');
	position:absolute;
	left:-44px;
	top:-4px;
}
header .basket h5 {
	color:#101010;
	font-size:18px;
	line-height:21px;
	font-weight:normal;
	padding:0;
	margin:0 0 3px;
}
header .basket p {
	font-size:18px;
	line-height:21px;
	margin:0;
}
header .basket p a {
	color:#ac0004;
	text-decoration:underline;
}
header .basket p a:hover {
	text-decoration:none;
}
nav {
	position:relative;
	z-index:30;
	text-align:center;
	background:#2c2c2c;
}
nav > ul {
	position:relative;
	width:960px;
	margin:0 auto;
}
nav > ul > li {
	display:inline-block;
	vertical-align:top;
	margin:0 -2px 0 -1px;
}
nav > ul > li > a {
	display:block;
	color:#ffffff;
	font-size:20px;
	line-height:23px;
    font-family:'PT Sans', sans-serif;
	text-transform:uppercase;
	padding:14px 34px 13px;
}
nav > ul > li > ul {
	display:none;
	position:absolute;
	left:0;
	top:50px;
	width:241px;
	text-align:left;
	margin:0;
	-webkit-box-shadow:5px 5px 15px rgba(0,0,0,0.15);
	box-shadow:5px 5px 15px rgba(0,0,0,0.15);
}
nav > ul > li > ul > li {
	position:relative;
	z-index:2;
}
nav > ul > li > ul > li > a {
	display:block;
	color:#ffffff;
	font-size:15px;
	line-height:18px;
	padding:12px 30px 16px 40px;
	background:#4e4e4e;
	border-bottom:1px solid #666666;
}
nav > ul > li > ul > li:last-child > a {
	border-bottom-width:0;
}
nav > ul > li > ul > li:hover > a {
	background:#666666;
}
nav > ul > li > ul > li:hover > a:after {
	content:'';
	position:absolute;
	right:-13px;
	top:0;
	z-index:5;
	width:13px;
	height:100%;
	background:url('../img/nav-sub-after.png') no-repeat left center;
	background-size:100% 100%;
}
nav > ul > li > ul > li > ul {
	display:none;
	position:absolute;
	left:241px;
	top:-1px;
	width:333px;
	padding:14px 0 18px;
	margin:0;
	background:#ef7f1b;
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.1), 5px 5px 15px rgba(0,0,0,0.15);
	box-shadow:inset 0 0 10px rgba(0,0,0,0.1), 5px 5px 15px rgba(0,0,0,0.15);
}
nav > ul > li > ul > li:first-child > ul {
	top:0;
}
nav > ul > li > ul > li > ul li a {
	display:block;
	color:#ffffff;
	font-size:13px;
	line-height:16px;
	padding:10px 27px 10px 29px;
}
nav > ul > li > ul > li > ul li a:hover {
	text-decoration:underline;
}
nav li:hover > ul {
	display:block;
}
.search-p {
	position:relative;
	z-index:20;
	height:46px;
	background:#ef7f1b;
	border-bottom:1px solid #d66c06;
}
.search-p .user {
	position:absolute;
	left:50%;
	top:10px;
	z-index:2;
	width:400px;
	padding:0 42px 0 0;
	margin-left:-480px;
}
.search-p .user input[type="text"] {
	width:100%;
	font-size:13px;
	padding:4px 11px 5px;
	background:#ffffff;
	-webkit-border-radius:1px;
	border-radius:1px;
}
.search-p .user input.found {
	background:transparent;
}
.search-p .user input[type="submit"] {
	position:absolute;
	right:0;
	top:0;
	width:42px;
	height:27px;
	color:transparent;
	cursor:pointer;
	background:url('../img/search-icon.png') no-repeat 18px 3px;
}
.search-p .filter {
	position:absolute;
	right:50%;
	top:12px;
	color:#ffffff;
	font-size:14px;
	line-height:17px;
	cursor:pointer;
	padding:0 28px 0 0;
	margin:0 -480px 0 0;
}
.search-p .filter:after {
	content:url('../img/filter-arrow.png');
	position:absolute;
	right:0;
	top:1px;
}
.search-p .filter:before {
	content:'';
	position:absolute;
	left:0;
	bottom:-1px;
	width:calc(100% - 28px);
	border-bottom:1px dashed rgba(255,255,255,0.65);
}
.search-p .filter:hover:before {
	border-bottom-color:transparent;
}
.intro {
	clear:both;
	overflow:hidden;
	width:960px;
	margin:0 auto;
}
.slider-i {
	position:relative;
	float:left;
	width:662px;
	height:380px;
}
.slider-i .prev, .slider-i .next {
	display:none;
}
.slider-i .container, .slider-i .container > div > div {
	position:relative;
	width:662px;
	height:380px;
}
.slider-i .container > div > div> a {
	display:block;
	width:662px;
	height:380px;
}
.slider-i .pagination {
	position:absolute;
	left:57px;
	bottom:27px;
	z-index:10;
	margin:0;
}
.slider-i .pagination li {
	display:inline-block;
	margin:0 6px 0 7px;
}
.slider-i .pagination li a {
	display:block;
	width:7px;
	height:7px;
	background:#9e9e9e;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.slider-i .pagination li.current a {
	background:#ffffff;
}
.slider-i .text {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	color:#ffffff;
	text-align:center;
	padding:28px 20px 33px;
	background:rgb(48,48,48);
	background:rgba(48,48,48,0.95);
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.slider-i .text p {
	display:inline-block;
	font-size:19px;
	line-height:30px;
	font-weight:300;
	text-align:left;
	vertical-align:top;
	letter-spacing:5px;
	text-transform:uppercase;
	margin:0 9px 0 10px;
}
.slider-i .text h5 {
	display:inline-block;
	font-size:100px;
	line-height:90px;
	font-weight:normal;
    font-family:'Autoradiographic', sans-serif;
	text-align:left;
	vertical-align:top;
	padding:0;
	margin:0 12px -20px 14px;
}
.intro .item-s {
	float:left;
	margin:-1px -10px 0 0;
}
.item-s {
	position:relative;
	width:296px;
	height:379px;
	background:#ffffff;
	border:1px solid #acacac;
}
.item-s:after {
	content:'';
	position:absolute;
	right:0;
	bottom:0;
	width:128px;
	height:66px;
	border-left:1px dashed #adadad;
	border-top:1px dashed #adadad;
}
.item-s h4 {
	overflow:hidden;
	position:absolute;
	left:27px;
	top:51px;
	width:242px;
	max-height:48px;
	font-size:20px;
	line-height:24px;
	font-weight:normal;
    font-family:'Autoradiographic', sans-serif;
	padding:0;
	margin:0;
}
.item-s h4 a {
	color:#2c2c2c;
	text-decoration:underline;
}
.item-s h4 a:hover {
	text-decoration:none;
}
.item-s .pic {
	overflow:hidden;
	position:absolute;
	left:13px;
	bottom:21px;
	width:140px;
	height:250px;
}
.item-s .pic img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:140px;
	max-height:250px;
	margin:auto;
}
.item-s button {
	position:absolute;
	right:16px;
	bottom:17px;
	z-index:1;
	width:95px;
}
.item-s .label {
	position:absolute;
	right:-1px;
	top:123px;
	min-width:59px;
	color:#ffffff;
	font-size:21px;
	line-height:17px;
    font-family:'Autoradiographic', sans-serif;
	text-align:center;
	padding:0 9px 3px;
	margin:0;
	background:#008a09;
}
.item-s .tag {
	position:absolute;
	left:0;
	top:16px;
	color:#ffffff;
	font-size:14px;
	line-height:17px;
    font-family:'PT Sans', sans-serif;
	padding:2px 15px 3px 26px;
	margin:0;
	background:#ef7f1b;
	border-radius:0 11px 11px 0;
}
.item-s .price {
	position:absolute;
	right:20px;
	bottom:98px;
	width:100px;
	color:#363636;
}
.item-s .price p {
	font-size:11px;
	line-height:13px;
	text-transform:uppercase;
	margin:0 0 5px;
}
.item-s .price h5 {
	font-size:24px;
	line-height:27px;
	font-family:'Roboto Condensed', sans-serif;
	padding:0;
	margin:0;
}
.item-s .price.old {
	bottom:153px;
}
.item-s .price.old p {
	margin:0 0 7px;
}
.item-s .price.old h5 {
	font-weight:500;
	font-size:20px;
	line-height:23px;
	text-decoration:line-through;
}
.item-s .price.old h5 em {
	font-weight:normal;
	margin:1px 0 -1px -3px;
}
.index-t {
	width:960px;
	padding:53px 0 20px;
	margin:0 auto;
}
.index-t .nav {
	text-align:center;
	margin:0 0 42px;
}
.index-t .nav li {
	position:relative;
	display:inline-block;
	font-family:'PT Sans', sans-serif;
	vertical-align:top;
	margin:0 -2px 0 -1px;
}
.index-t .nav li:before {
	content:'/';
	display:inline-block;
	width:40px;
	color:#ef7f1b;
	font-size:23px;
	line-height:26px;
	text-align:center;
	vertical-align:top;
}
.index-t .nav li:first-child:before {
	display:none;
}
.index-t .nav li a {
	position:relative;
	display:inline-block;
	color:#2c2c2c;
	font-size:25px;
	line-height:28px;
	text-transform:uppercase;
	vertical-align:top;
}
.index-t .nav li a:after {
	content:'';
	position:absolute;
	right:0;
	bottom:-1px;
	width:100%;
	border-bottom:1px dashed #373737;
}
.index-t .nav li.active a {
	color:#999999;
}
.index-t .nav li a:hover:after, .index-t .nav li.active a:after {
	border-bottom-color:transparent;
}
.index-t .grid {
	clear:both;
	overflow:hidden;
	padding:0 0 1px;
	margin:0 0 20px;
}
.index-t .grid li {
	position:relative;
	float:left;
	margin:0 -1px -1px 0;
}
.index-t .grid li:nth-child(4n+4) {
	width:238px;
}
.index-t .grid li:hover {
	z-index:1;
}
.item-e {
	position:relative;
	width:239px;
	height:347px;
	background:#ffffff;
	border:1px solid #acacac;
}
.item-e:after {
	content:'';
	position:absolute;
	left:0;
	bottom:66px;
	width:100%;
	border-top:1px dashed #afafaf;
}
.item-e h4 {
	overflow:hidden;
	position:absolute;
	left:23px;
	top:17px;
	width:194px;
	max-height:60px;
	font-size:18px;
	line-height:20px;
	font-weight:normal;
    font-family:'Autoradiographic', sans-serif;
	padding:0;
	margin:0;	
}
.item-e h4 a {
	color:#2c2c2c;
	text-decoration:underline;
}
.item-e h4 a:hover {
	text-decoration:none;
}
.item-e .pic {
	position:absolute;
	left:50%;
	top:84px;
	width:200px;
	height:190px;
	margin-left:-100px;
}
.item-e .pic img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:200px;
	max-height:190px;
	margin:auto;
}
.item-e .price {
	position:absolute;
	left:21px;
	bottom:13px;
	color:#363636;
}
.item-e .price p {
	font-size:9px;
	line-height:11px;
	text-transform:uppercase;
	margin:0 0 8px;
}
.item-e .price h5 {
	font-size:20px;
	line-height:23px;
	font-family:'Roboto Condensed', sans-serif;
	padding:0;
	margin:0;
}
.item-e .price h5 em {
	font-weight:normal;
	margin:1px 0 -1px -3px;
}
.item-e button {
	position:absolute;
	right:18px;
	bottom:17px;
	width:95px;
}
.banner-r {
	overflow:hidden;
	position:relative;
	color:#ffffff;
    font-family:'Autoradiographic', sans-serif;
	margin:0 0 40px;
}
.banner-r a {
	color:#ffffff;
	text-decoration:underline;
}
.banner-r a:hover {
	text-decoration:none;
}
.banner-r > div {
	position:relative;
	width:960px;
	height:150px;
	padding:30px 420px 0 82px;
	margin:0 auto;
	background:#ef7f1b;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.banner-r > div:before {	
	content:'';
	position:absolute;
	left:-40px;
	top:0;
	border-left:40px solid transparent;
	border-bottom:150px solid #ef7f1b;
}
.banner-r > div:after {
	content:'';
	position:absolute;
	right:-9999px;
	top:0;
	width:10000px;
	height:100%;
	background:#ef7f1b;
}
.banner-r h5 {
	font-size:24px;
	line-height:28px;
	font-weight:normal;
	text-transform:uppercase;
	padding:0;
	margin:0 0 17px;
}
.banner-r p {
	font-size:18px;
	line-height:20px;
	margin:0;
}
.banner-r .settings {
	position:absolute;
	right:316px;
	top:21px;
	display:block;
	width:79px;
	height:111px;
	background:url('../img/settings-icon.png') no-repeat center center;
}
.banner-r .rouble {
	position:absolute;
	right:122px;
	top:0;
	width:143px;
	height:150px;
	background:#ffffff url('../img/rouble-icon.png') no-repeat 13px 16px;
}
.banner-r .rouble:before {	
	content:'';
	position:absolute;
	left:-40px;
	top:0;
	border-left:40px solid transparent;
	border-bottom:150px solid #ffffff;
}
.banner-r .rouble:after {	
	content:'';
	position:absolute;
	right:-40px;
	top:0;
	border-right:40px solid transparent;
	border-top:150px solid #ffffff;
}
.welcome-b {
	background:url('../img/grey-bg.jpg') repeat;
}
.welcome-b > div {
	clear:both;
	overflow:hidden;
	width:960px;
	margin:0 auto;
}
.welcome-b .text {
	float:left;
	width:540px;
	padding:47px 0 25px;
}
.welcome-b h2 {
	color:#101010;
	font-size:24px;
	line-height:27px;
	font-weight:normal;
    font-family:'Autoradiographic', sans-serif;
	padding:0;
	margin:0 0 33px;
}
.welcome-b p {
	font-size:16px;
	line-height:20px;
	margin:0 0 20px;
}
.welcome-b .details {
	float:right;
	width:352px;
	color:#ffffff;
	padding:31px 30px 3px 28px;
	background:#ac0004;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
	opacity:0;
}
.welcome-b .details h5 {
	font-size:24px;
	line-height:27px;
	font-weight:normal;
    font-family:'Autoradiographic', sans-serif;
	padding:0 0 5px;
	margin:0 0 17px;
	border-bottom:1px solid rgba(255,255,255,0.35);
}
.welcome-b .details ul {
	margin:0 0 24px;
}
.welcome-b .details ul:last-child {
	margin-bottom:0;
}
.welcome-b .details ul li {
	position:relative;
	min-height:34px;
	padding:0 0 0 95px;
	margin:0 0 18px;
}
.welcome-b .details ul li span {
	overflow:hidden;
	position:absolute;
	left:-1px;
	top:50%;
	width:80px;
	height:50px;
	margin-top:-25px;
	opacity:0.5;
}
.welcome-b .details ul li span img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:80px;
	max-height:50px;
	margin:auto;
}
.welcome-b .details ul li p {
	font-size:15px;
	line-height:17px;
	margin:0;
}
div.clear {
	clear:both;
	overflow:hidden;
	height:421px;
}
footer {
	position:relative;
	z-index:1;
	margin:-421px 0 0;
	background:#000000;
}
footer:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:363px;
	background:url('../img/footer-bg.jpg') no-repeat center top;
	background-size:cover;
}
footer > div {
	position:relative;
	z-index:1;
	width:960px;
	height:421px;
	margin:0 auto;
}
footer > div:after {
	content:'';
	position:absolute;
	left:0;
	bottom:199px;
	width:100%;
	border-top:1px solid rgba(255,255,255,0.32);
}
footer .nav {
	position:absolute;
	left:0;
	top:44px;
	margin:0;
}
footer .nav li {
	margin:0 0 10px;
}
footer .nav li a {
	position:relative;
	color:#ffffff;
	font-size:13px;
	line-height:16px;
	text-transform:uppercase;
	letter-spacing:3px;
}
footer .nav li a:after {
	content:'';
	position:absolute;
	left:0;
	bottom:-1px;
	width:calc(100% - 3px);
	border-bottom:1px solid rgba(255,255,255,0.45);
}	
footer .nav li a:hover:after {
	border-bottom-color:transparent;
}
footer .contacts {
	position:absolute;
	left:300px;
	top:41px;
	max-width:320px;
    font-family:'Autoradiographic', sans-serif;
}
footer .contacts h5 {
	color:#ef7f1b;
	font-size:24px;
	line-height:24px;
	font-weight:normal;
	padding:0;
	margin:26px 0 6px;
}
footer .contacts h5:first-child {
	margin-top:0;
}
footer .contacts h5 a {
	color:#ef7f1b;
}
footer .contacts p {
	color:#ffffff;
	font-size:16px;
	line-height:19px;
	margin:0;
}
footer .social {
	position:absolute;
	right:0;
	top:43px;
	width:320px;
	color:#ffffff;
	text-align:right;
}
footer .social p {
	font-size:15px;
	line-height:20px;
	font-weight:300;
	margin:0 0 32px;
}
footer .social ul {
	margin:0;
}
footer .social ul li {
	display:inline-block;
	margin:0 0 11px 14px;
}
footer .social ul li a {
	overflow:hidden;
	position:relative;
	display:block;
	width:36px;
	height:36px;
	border:2px solid #7e7e7e;
}
footer .social ul li a img {
	position:absolute;
	left:0;
	top:0;
}
footer .social ul li a:hover {
	border-color:#ffffff;
}
footer .social ul li a:hover img {
	top:-36px;
}
footer .copy {
	position:absolute;
	left:0;
	top:280px;
	max-width:200px;
	color:#aaaaaa;
	font-size:14px;
	line-height:20px;
	margin:0;
}
footer .message {
	position:absolute;
	right:0;
	top:240px;
	width:500px;
	color:#ffffff;
	font-size:16px;
	line-height:28px;
	font-weight:300;
	text-align:right;
}
footer .message a {
	color:#ef7f1b;
}
footer .message a:hover {
	text-decoration:underline;
}
footer .author {
	position:absolute;
	left:0;
	bottom:0;
	z-index:1;
	width:100%;
	color:#bebebe;
	font-size:15px;
	line-height:16px;
	font-weight:300;
    font-family:'Fira Sans', sans-serif;
	text-align:center;
	padding:21px 0;
	margin:0;
	background:#303030;
}
footer .author img {
	display:inline-block;
	vertical-align:top;
	margin:-6px 0 0;
}
div.bg {
	position:absolute;
	left:0;
	top:0;
	width:100%;
}
.add-review-button {
	position:absolute;
	right:0;
	top:330px;
	z-index:100;
	display:block;
	width:45px;
	height:325px;
	background:url('../img/add-review-bg.png') no-repeat center center;
}
h1 {
	color:#101010;
	font-size:40px;
	line-height:40px;
	font-weight:normal;
    font-family:'Autoradiographic', sans-serif;
	padding:0;
	margin:0 0 24px;
}
.content-b {
	overflow:hidden;
	position:relative;
}
.content-b > div {
	position:relative;
	width:960px;
	padding:19px 0 42px;
	margin:0 auto;
}
.breadcrumbs {
	clear:both;
	overflow:hidden;
	margin:0 0 24px;
}
.breadcrumbs li {
	float:left;
	color:#9a9a9a;
	font-size:13px;
	line-height:16px;
	font-weight:300;
	white-space:nowrap;
	margin:0 0 4px;
}
.breadcrumbs li:after {
	content:'';
	display:inline-block;
	width:22px;
	height:16px;
	vertical-align:top;
	background:url('../img/breadrumbs-split.png') no-repeat center 5px;
}
.breadcrumbs li:last-child:after {
	display:none;
}
.breadcrumbs li a {
	color:#000000;
}
.breadcrumbs li a:hover {
	text-decoration:underline;
}
.banner-e {
	margin:0 0 30px;
}
.banner-e img {
	margin:0 0 -4px;
}
.text-container {
	color:#171717;
}
.text-container p {
	font-size:16px;
	line-height:28px;
	font-weight:300;
	margin:0 90px 28px 100px;
}
.text-container ol {
	margin:0 90px 28px 118px;
}
.text-container ol li {
	font-size:16px;
	line-height:28px;
	font-weight:bold;
	padding:0;
}
.news-other {
    font-family:'Autoradiographic', sans-serif;
	margin:73px 0 0;
}
.news-other h2 {
	color:#171717;
	font-size:25px;
	line-height:28px;
	font-weight:normal;
	padding:0;
	margin:0 0 9px;
}
.news-other h2 .all {
	float:right;
	color:#ef7f1b;
	text-decoration:underline;
}
.news-other h2 a:hover {
	text-decoration:none;
}
.news-other ul {
	margin:0 0 8px;
	border-top:1px solid #ececec;
}
.news-other ul li {
	position:relative;
	display:inline-block;
	width:320px;
	height:102px;
	vertical-align:top;
	margin:0 -3px 0 0;
	border-bottom:1px solid #ececec;
}
.news-other ul li a {
	display:block;
	width:320px;
	height:102px;
}
.news-other ul li:after {
	content:'';
	position:absolute;
	right:0;
	top:0;
	width:1px;
	height:100%;
	background:#ececec;
}
.news-other ul li:nth-child(3n) {
	margin-right:-10px;
}
.news-other ul li:nth-child(3n):after {
	display:none;
}
.news-other ul li h6 {
	position:absolute;
	left:-14px;
	top:28px;
	width:90px;
	color:#c1c1c1;
	font-size:17px;
	line-height:21px;
	font-weight:normal;
	text-align:right;
	padding:2px 9px 1px 0;
	margin:0;
	border-right:1px solid #cacaca;
}
.news-other ul li h6 span {
	display:block;
}
.news-other ul li h4 {
	overflow:hidden;
	position:absolute;
	left:95px;
	top:28px;
	width:204px;
	height:42px;
	font-size:18px;
	line-height:21px;
	font-weight:normal;
	padding:0;
	margin:0;
}
.news-other ul li a:hover h4 {
	text-decoration:underline;
}
.news-grid {
    font-family:'Autoradiographic', sans-serif;
	padding:9px 0 0;
	margin:0 0 -24px;
}
.news-grid li {
	position:relative;
	display:inline-block;
	width:298px;
	height:338px;
	vertical-align:top;
	margin:0 27px 20px 0;
	border:1px solid #e7e7e7;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.news-grid li:nth-child(3n) {
	margin-right:-10px;
}
.news-grid li a {
	display:block;
	width:298px;
	height:338px;
}
.news-grid li .pic {
	position:absolute;
	left:0;
	top:0;
	width:298px;
	height:248px;
}
.news-grid li h6 {
	position:absolute;
	left:-20px;
	bottom:22px;
	width:90px;
	color:#c1c1c1;
	font-size:14px;
	line-height:17px;
	font-weight:normal;
	text-align:right;
	padding:6px 9px 5px 0;
	margin:0;
	border-right:1px solid #cacaca;
}
.news-grid li h6 span {
	display:block;
}
.news-grid li h4 {
	overflow:hidden;
	position:absolute;
	left:89px;
	bottom:27px;
	width:189px;
	height:38px;
	color:#171717;
	font-size:16px;
	line-height:19px;
	font-weight:normal;
	padding:0;
	margin:0;
}
.news-grid li a:hover h4 {
	text-decoration:underline;
}
.map-b {
    font-family:'Autoradiographic', sans-serif;
	padding:13px 0 0;
}
.map-b ul {
	clear:both;
	overflow:hidden;
	margin:0;
}
.map-b ul li {
	float:left;
	width:50%;
}
.map-b ul li a {
	display:block;
	color:#ffffff;
	font-size:25px;
	line-height:28px;
	text-align:center;
	text-transform:uppercase;
	padding:22px 20px 20px;
	background:#2c2c2c;
}
.map-b ul li.active a {
	background:#ef7f1b;
}
.map-b > div {
	height:500px;
}
.contacts-b {
	color:#171717;
	padding:68px 0 43px;
	margin:0 auto;
}
.contacts-b h2 {
	font-size:30px;
	line-height:32px;
	font-weight:normal;
    font-family:'Autoradiographic', sans-serif;
	padding:0;
	margin:0 0 15px;
}
.contacts-b p {
	font-size:16px;
	line-height:19px;
	margin:0 0 19px;
}
.contacts-b > div {
	display:inline-block;
	width:320px;
	vertical-align:top;
	padding:0 30px 0 0;
	margin:16px -3px 11px 0;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.contacts-b ul {
	display:inline-block;
	width:640px;
	vertical-align:top;
	margin:0 -10px 0 0;
}
.contacts-b ul li {
	position:relative;
	display:inline-block;
	width:320px;
	vertical-align:top;
	padding:0 40px 0 49px;
	margin:0 -3px 11px 0;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.contacts-b ul li:before {
	content:'';
	position:absolute;
	left:0;
	top:5px;
	width:1px;
	height:88px;
	background:#ececec;
}
.contacts-b ul li:nth-child(2n) {
	margin-right:-10px;
}
.feedback-b {
	position:relative;
	padding:34px 0 28px;
	margin:0 0 -42px;
	background:#ededed;
}
.feedback-b:before, .feedback-b:after {
	content:'';
	position:absolute;
	top:0;
	width:10000px;
	height:100%;
	background:#ededed;
}
.feedback-b:before {
	left:-9999px;
}
.feedback-b:after {
	right:-9999px;
}
.custom {
	position:relative;
	width:375px;
	margin:0 auto;
}
.custom h3 {
	color:#101010;
	font-size:30px;
	line-height:32px;
	font-weight:normal;
    font-family:'Autoradiographic', sans-serif;
	padding:0;
	margin:0 0 30px;
}
.custom p {
	position:relative;
	font-size:15px;
	line-height:18px;
	margin:0 0 20px;
}
.custom p input, .custom p textarea {
	width:100%;
	color:#9a9a9a;
	font-size:15px;
	padding:14px 19px 12px;
	background:#ffffff;
	border:2px solid #ffffff;
}
.custom p textarea {
	margin:0 0 -3px;
	resize:vertical;
}
.custom p span {
	position:absolute;
	left:0;
	top:12px;
	z-index:2;
	display:block;
	color:#9a9a9a;
	padding:5px 20px 5px 21px;
	background:#ffffff;
	-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
}
.custom p.focus span {
	margin-top:-22px;
}
/*.custom p.focus input, .custom p.focus textarea {
	border-color:#c8fcff;
}
.custom p.error input, .custom p.error textarea {
	border-color:#ff5151;
}*/
.custom p.complete span {
	margin-top:-22px;
}
.custom button {
	width:100%;
	font-size:15px;
	line-height:18px;
	font-weight:normal;
	letter-spacing:4px;
	padding:16px 16px 16px 20px;
	margin:0 0 20px;
	background:#ef7f1b;
}
.custom button:active {
	padding:17px 16px 15px 20px;
}
.basket-b h2 {
	color:#27282c;
	font-size:22px;
	line-height:25px;
	font-weight:normal;
	padding:0;
	margin:0 0 19px;
}
.basket-b h6 {
	color:#27282c;
	font-size:15px;
	line-height:18px;
	font-weight:normal;
	padding:0;
	margin:0 0 11px;
}
.basket-b {
	padding:13px 0 0;
}
.basket-b table {
	width:100%;
	margin:0 0 30px;
}
.basket-b table thead th {
	color:#000000;
	font-size:13px;
	line-height:16px;
	font-weight:500;
	font-weight:normal;
	text-align:left;
	text-transform:uppercase;
	padding:14px 5px 15px 25px;
	background:#ededed;
}
.basket-b table td {
	position:relative;
	min-height:200px;
	color:#393939;
	font-size:14px;
	line-height:17px;
	font-weight:500;
	padding:23px 5px 25px 25px;
	border-bottom:2px solid #ededed;
}
.basket-b table td:first-child {
	width:45px;
}
.basket-b table td .pic {
	overflow:hidden;
	position:relative;
	width:60px;
	height:90px;
	margin:-16px -15px -17px 0;
}
.basket-b table td .pic img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:60px;
	max-height:90px;
	margin:auto;
}
.basket-b table td h4 {
	color:#303030;
	font-size:18px;
	line-height:20px;
	font-weight:normal;
    font-family:'Autoradiographic', sans-serif;
	padding:0;
	margin:-2px 0 0;
}
.basket-b table td h4 a {
	color:#303030;
	text-decoration:underline;
}
.basket-b table td h4 a:hover {
	text-decoration:none;
}
.basket-b table td .rouble-icon {
	margin:1px 0 -1px -2px;
}
.basket-b table td .remove {
	position:absolute;
	right:-10px;
	top:50%;
	width:30px;
	height:30px;
	cursor:pointer;
	margin-top:-16px;
	background:url('../img/remove-icon.png') no-repeat center center;
}
.basket-b table tbody th {
	color:#000000;
	font-size:13px;
	line-height:16px;
	font-weight:500;
	padding:12px 5px 7px 25px;
}
.basket-b table tbody th p {
	text-align:right;
	text-transform:uppercase;
	margin:0 -10px 0 0;
}
.basket-b table tbody th h5 {
	color:#d67e2a;
	font-size:21px;
	line-height:24px;
	font-weight:500;
	text-align:left;
	padding:0;
	margin:0;
}
.basket-b table tbody th h5 .rouble-icon {
	display:inline-block;
	vertical-align:top;
	margin:1px 0 -1px -2px;
}
.quantity-e {
	position:relative;
	width:36px;
	padding:0 29px;
}
.quantity-e em {
	position:absolute;
	top:0;
	display:block;
	width:28px;
	height:28px;
	cursor:pointer;
	border:1px solid #ededed;
}
.quantity-e em.minus {
	left:0;
	background:url('../img/minus-icon.png') no-repeat center center;
	border-right-width:0;
	border-radius:2px 0 0 2px;
}
.quantity-e em.plus {
	right:0;
	background:url('../img/plus-icon.png') no-repeat center center;
	border-left-width:0;
	border-radius:0 2px 2px 0;
}
.quantity-e input {
	width:100%;
	color:#393939;
	font-size:15px;
	text-align:center;
	padding:4px 3px 6px;
	background:#ededed;
}
.basket-b .controls {
	position:relative;
	text-align:right;
	margin:0 0 30px;
}
.basket-b .controls button {
	font-size:18px;
	line-height:21px;
	letter-spacing:4px;
	padding:17px 29px 17px 33px;
	background:#ef7f1b;
}
.basket-b .controls button:active {
	padding:18px 29px 16px 33px;
}
.basket-b .controls h5 {
	display:inline-block;
	color:#393939;
	font-size:17px;
	line-height:20px;
	font-weight:500;
	vertical-align:top;
	padding:16px 0 19px;
	margin:0 59px 0 0;
}
.basket-b .info {
	position:relative;
	margin:-30px 0 10px;
}
.basket-b .info > div {
	position:relative;
	display:inline-block;
	width:362px;
	padding:36px 40px 74px 44px;
	background:#f9f9f9;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.basket-b .info > div h5 {
	color:#27282c;
	font-size:22px;
	line-height:25px;
	font-weight:normal;
	padding:0;
	margin:0 0 32px;
}
.basket-b .info > div ul {
	margin:0 0 20px;
}
.basket-b .info > div ul li {
	color:#27282c;
	font-size:17px;
	line-height:20px;
	margin:0 0 16px;
}
.basket-b .info > div ul li span {
	color:#999999;
}
.basket-b .info button {
	position:absolute;
	left:0;
	bottom:0;
	width:362px;
	font-size:18px;
	line-height:21px;
	letter-spacing:4px;
	padding:17px 29px 17px 33px;
	background:#ef7f1b;
}
.basket-b .info button:active {
	padding:18px 29px 16px 33px;
}
.basket-b .info .back-l {
	position:absolute;
	right:0;
	bottom:19px;
	margin:0;
}
.back-l {
	font-size:17px;
	line-height:20px;
	margin:0 0 37px;
}
.back-l a {
	position:relative;
	color:#393939;
	padding:0 0 0 25px;
}
.back-l a:before {
	content:url('../img/prev-arrow.png');
	position:absolute;
	left:0;
	top:2px;
}
.back-l a:hover {
	text-decoration:underline;
}
.basket-b .controls .back-l {
	position:absolute;
	left:0;
	top:16px;
	margin:0;
}
.same-b {
	position:relative;
	padding:36px 0 55px;
	margin:44px 0 -42px;
	background:#ededed;
}
.same-b:before, .same-b:after {
	content:'';
	position:absolute;
	top:0;
	width:10000px;
	height:100%;
	background:#ededed;
}
.same-b:before {
	left:-9999px;
}
.same-b:after {
	right:-9999px;
}
.same-b h2 {
	position:relative;
	z-index:1;
	color:#393939;
	font-size:25px;
	line-height:28px;
	font-weight:normal;
    font-family:'Autoradiographic', sans-serif;
	padding:0;
	margin:0 0 23px;
}
.same-b .grid {
	position:relative;
	z-index:1;
	clear:both;
	overflow:hidden;
	padding:0 0 1px;
	margin:0 0 20px;
}
.same-b .grid li {
	position:relative;
	float:left;
	margin:0 -1px -1px 0;
}
.same-b .grid li:nth-child(4n+4) {
	width:238px;
}
.same-b .grid li:hover {
	z-index:1;
}
.lk-nav {
	position:relative;
    font-family:'Autoradiographic', sans-serif;
	text-align:center;
	margin:37px 0 32px;
	background:#f9f9f9;
}
.lk-nav:before, .lk-nav:after {
	content:'';
	position:absolute;
	top:0;
	width:10000px;
	height:100%;
	background:#f9f9f9;
}
.lk-nav:before {
	left:-9999px;
}
.lk-nav:after {
	left:-9999px;
}
.lk-nav li {
	display:inline-block;
	margin:0 -2px 0 -1px;
}
.lk-nav li a {
	display:block;
	color:#000000;
	font-size:16px;
	line-height:19px;
	text-transform:uppercase;
	padding:29px 80px 27px;
}
.lk-nav li.active a {
	color:#ffffff;
	background:#ef7f1b;
}
.lk-exit {
	position:absolute;
	right:0;
	top:69px;
	font-size:13px;
	line-height:16px;
    font-family:'Autoradiographic', sans-serif;
	text-transform:uppercase;
	margin:0;
}
.lk-exit a {
	display:block;
	color:#171717;
	padding:10px 23px 9px;
	background:#f9f9f9;
}
.lk-exit a:before {
	content:url('../img/exit-icon.png');
	display:inline-block;
	vertical-align:top;
	margin:1px 9px -1px 7px;
}
.orders-list {
	margin:50px 0 19px;
	border:1px solid #ececec;
	border-bottom-width:0;
}
.orders-list li {
	position:relative;
	padding:44px 279px 45px 48px;
	border-bottom:1px solid #ececec;
}
.orders-list li h4 {
	display:inline-block;
	font-size:17px;
	line-height:20px;
	vertical-align:top;
	padding:0;
	margin:0 24px -1px 0;
}
.orders-list li h4 a {
	color:#002c5a;
	text-decoration:underline;
}
.orders-list li h4 a:hover {
	text-decoration:none;
}
.orders-list h6 {
	display:inline-block;
	min-width:90px;
	color:#ffffff;
	font-size:13px;
	line-height:16px;
	font-weight:normal;
	text-align:center;
	vertical-align:top;
	padding:3px 10px 6px;
	margin:-2px 77px -4px 0;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
	-webkit-border-radius:13px;
	border-radius:13px;
}
.orders-list h6.accepted {
	color:#000000;
	background:#e8e8e8;
}
.orders-list h6.cancelled {
	background:#ffc500;
}
.orders-list h6.payed {
	background:#00d05c;
}
.orders-list h6.carried {
	background:#ef7f1b;
}
.orders-list li p {
	display:inline-block;
	color:#000000;
	font-size:16px;
	line-height:19px;
	vertical-align:top;
	margin:0;
}
.orders-list button {
	position:absolute;
	right:49px;
	top:34px;
	font-size:15px;
	line-height:18px;
	font-weight:normal;
	text-transform:none;
	padding:9px 18px 13px 20px;
	background:#2c2c2c;
}
.orders-list li:hover {
	background:#f9f9f9;
}
.orders-list li:hover button {
	background:#ef7f1b;
}
.user-login {
	position:relative;
	padding:48px 0 33px;
	margin:38px 0 0;
	background:#ececec;
}
.user-login:before, .user-login:after {
	content:'';
	position:absolute;
	top:0;
	width:10000px;
	height:100%;
	background:#ececec;
}
.user-login:before {
	left:-9999px;
}
.user-login:after {
	right:-9999px;
}
.user-login h3 {
	width:575px;
	font-size:20px;
	line-height:23px;
	font-family:'Roboto', sans-serif;
	text-align:center;
	margin:0 0 26px -100px;
}
.custom.grey p input, .custom.grey p textarea {
	width:100%;
	color:#121212;
	font-size:15px;
	padding:14px 19px 12px;
	background:#ededed;
	border:2px solid #ededed;
}
.custom.grey p span {
	position:absolute;
	left:0;
	top:12px;
	z-index:2;
	display:block;
	color:#9a9a9a;
	padding:5px 20px 5px 21px;
	background:#ededed;
	-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
}
.user-new {
	margin:0 0 -10px;
}
.user-new h3 {
	color:#000000;
	font-size:17px;
	line-height:20px;
	font-style:italic;
	font-weight:normal;
	text-align:center;
	padding:26px 0 27px;
	margin:0 0 41px;
	border-bottom:1px solid #ececec;
}
.user-new .delivery {
	position:relative;
	padding:0 0 25px;
	margin:0 0 55px;
	border-bottom:1px solid #ececec;
}
.user-new .delivery h5 {
	position:absolute;
	left:0;
	top:15px;
	color:#393939;
	font-size:16px;
	line-height:19px;
	font-weight:normal;
	padding:0;
	margin:0;
}
.user-new .delivery ul {
	width:375px;
	text-align:center;
	padding:15px 0 5px;
	margin:0 auto 20px;
}
.user-new .delivery ul li {
	display:inline-block;
	vertical-align:top;
	margin:0 12px 10px;
}
.user-new .delivery ul li label {
	position:relative;
	display:block;
	color:#393939;
	font-size:16px;
	line-height:19px;
	cursor:pointer;
	padding:0 0 0 35px;
}
.user-new .delivery ul li label .radio {
	position:absolute;
	left:0;
	top:-1px;
}
.user-new .about {
	position:relative;
	padding:0 0 34px;
	margin:0 0 35px;
	border-bottom:1px solid #ececec;
}
.user-new .about h5 {
	position:absolute;
	left:0;
	top:14px;
	color:#393939;
	font-size:16px;
	line-height:19px;
	font-weight:normal;
	padding:0;
	margin:0;
}
.user-new .about + .basket-b h6 {
	margin:0 0 29px;
}
.user-new .basket-b + .comment {
	margin-top:-27px;
}
.user-new .comment {
	margin:0 0 35px;
}
.user-new .comment h5 {
	color:#393939;
	font-size:16px;
	line-height:19px;
	font-weight:normal;
	padding:0;
	margin:0 0 29px;
}
.user-new .comment .custom {
	width:auto;
}
.user-new .comment h6 {
	color:#393939;
	font-size:16px;
	line-height:19px;
	font-weight:normal;
	padding:0;
	margin:34px 0 19px;
}
.user-new .comment h6 label {
	position:relative;
	display:inline-block;
	cursor:pointer;
	padding:0 0 0 35px;
}
.user-new .comment h6 label .checker {
	position:absolute;
	left:0;
	top:-2px;
}
.user-new .submit {
	text-align:center;
	margin:0 0 30px;
}
.user-new .submit button {
	min-width:375px;
	font-size:15px;
	line-height:18px;
	font-weight:normal;
	letter-spacing:4px;
	padding:16px 16px 16px 20px;
	margin:0;
	background:#ef7f1b;
}
.user-new .submit button:active {
	padding:17px 16px 15px 20px;
}
.content-b .slider-i {
	margin:-19px 0 18px;
}
.content-b .slider-i, .content-b .slider-i .container, .content-b .slider-i .container > div > div, .content-b .slider-i .container > div > div > a {
	width:960px;
	height:274px;
}
.content-b .slider-i .pagination {
	left:50%;
	bottom:14px;
	width:480px;
	text-align:center;
	margin-left:-240px;
}
.catalog-list {
	margin:35px 0 -3px;
}
.catalog-list h2 {
	font-size:20px;
	line-height:23px;
	padding:0;
	margin:0 0 18px;
}
.catalog-list h2 a {
	color:#ac0004;
	text-decoration:underline;
}
.catalog-list h2 a:hover {
	text-decoration:none;
}
.catalog-list ul li {
	font-size:13px;
	line-height:16px;
	padding:7px 0;
}
.catalog-list ul li a {
	color:#000000;
}
.catalog-list ul li a:hover {
	text-decoration:underline;
}
.catalog-list .main ul {
	margin:0 0 13px;
	-webkit-column-count:4;
	-moz-column-count:4;
	column-count:4;
	-webkit-column-gap:28px;
	-moz-column-gap:28px;
	column-gap:28px;
}
.catalog-list .main ul li {
	-webkit-column-break-inside:avoid;
	page-break-inside:avoid;
	break-inside:avoid;
}
.catalog-list .sub h2 {
	margin:0 0 6px;
}
.catalog-list .sub {
	padding:32px 0 0;
	margin:32px 0 0;
	border-top:1px solid #acacac;
}
.catalog-list .sub > div {
	display:inline-block;
	width:219px;
	vertical-align:top;
	margin:0 25px 13px 0;
}
.catalog-list .sub > div:nth-child(4n) {
	margin-right:-10px;
}
.catalog-list .sub ul {
	margin:0;
}
.catalog-nav {
	overflow:hidden;
	display:inline-block;
	width:245px;
	vertical-align:top;
	margin:4px 37px 11px 0;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:5px 5px 15px rgba(0,0,0,0.15);
	box-shadow:5px 5px 15px rgba(0,0,0,0.15);
}
.catalog-nav > li > a {
	position:relative;
	display:block;
	color:#ffffff;
	font-size:11px;
	line-height:14px;
	text-transform:uppercase;
	padding:13px 39px 13px 22px;
	background:#4e4e4e;
	border-top:1px solid #666666;
}
.catalog-nav > li:first-child > a {
	padding-top:14px;
	border-top-width:0;
}
.catalog-nav > li > ul {
	display:none;
	border-top:1px solid #666666;
	padding:11px 0 15px;
	margin:0;
	background:#4e4e4e;
}
.catalog-nav > li > ul a {
	display:block;
	color:#ffffff;
	font-size:13px;
	line-height:16px;
	padding:3px 22px 4px;
}
.catalog-nav > li > ul a:hover {
	text-decoration:underline;
}
.catalog-nav .arrow {
	position:absolute;
	right:10px;
	top:50%;
	display:block;
	width:27px;
	height:27px;
	margin-top:-13px;
	background:url('../img/nav-sub-arrow.png') no-repeat center top;
}
.catalog-nav > li.active > a {
	background:#ef7f1b;
}
.catalog-nav > li.active > ul {
	display:block;
}
.catalog-nav li.active > a > .arrow {
	background-position:0 -27px;
}
.col-r {
	display:inline-block;
	width:676px;
	vertical-align:top;
	margin:0 -10px -16px 0;
}
.col-r h2 {
	color:#000000;
	font-size:17px;
	line-height:20px;
	font-weight:900;
    font-family:'Roboto', sans-serif;
	text-transform:uppercase;
	padding:0;
	margin:0 0 26px;
}
.item-c {
	position:relative;
	width:208px;
	height:257px;
	background:#ffffff;
	border:1px solid #aeaeae;
}
.col-r .item-c {
	display:inline-block;
	vertical-align:top;
	margin:0 27px 20px 0;
}
.item-c .pic {
	position:absolute;
	left:50%;
	top:31px;
	width:180px;
	height:160px;
	margin-left:-90px;
}
.item-c .pic img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:180px;
	max-height:160px;
	margin:auto;
}
.item-c:after {
	content:'';
	position:absolute;
	left:0;
	bottom:54px;
	width:100%;
	border-top:1px dashed #afafaf;
}
.item-c .label {
	position:absolute;
	right:-1px;
	top:15px;
	z-index:1;
	color:#ffffff;
	font-size:13px;
	line-height:16px;
	padding:4px 11px 5px 13px;
	margin:0;
	background:#00a853;
}
.item-c .label:before {
	content:'';
	position:absolute;
	left:-8px;
	top:0;
	border-top:13px solid #00a853;
	border-left:8px solid transparent;
}
.item-c .label:after {
	content:'';
	position:absolute;
	left:-8px;
	bottom:0;
	border-bottom:13px solid #00a853;
	border-left:8px solid transparent;
}
.item-c .text {
	position:absolute;
	left:0;
	bottom:12px;
	width:100%;
	padding:0 10px;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.item-c .text p {
	color:#000000;
	font-size:13px;
	line-height:16px;
	margin:0;
}
.item-c .text p a {
	display:block;
	color:#ac0004;
	text-decoration:underline;
	padding:0 20px 0 0;
	background:url('../img/category-arrow.png') no-repeat right 5px;
}
.item-c .text p a:hover {
	text-decoration:none;
}
.item-c .text p a span {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.col-r .details {
	display:inline-block;
	width:177px;
	vertical-align:top;
	margin:6px 17px 16px 0;
}
.col-r .details a {
	color:#ac0004;
	text-decoration:underline;
}
.col-r .details a:hover {
	text-decoration:none;
}
.col-r .details ul {
	margin:0 0 20px;
}
.col-r .details ul li {
	font-size:13px;
	line-height:16px;
	font-weight:bold;
	margin:0 0 9px;
}
.col-r .details ul li span {
	font-weight:normal;
}
.col-r .details p {
	font-size:13px;
	line-height:16px;
	margin:0 0 4px;
}
.col-r .details h5 {
	font-size:13px;
	line-height:16px;
	font-weight:normal;
	padding:0;
	margin:24px 0 19px;
}
.col-r .details h5 strong {
	display:inline-block;
	color:#ac0004;
	font-size:25px;
	line-height:25px;
	vertical-align:top;
	margin:-5px 0 -4px 10px;
}
.col-r .details h5 strong em {
	display:inline-block;
	vertical-align:top;
	margin:1px 0 -1px -2px;
}
.col-r .details button {
	width:100%;
	font-size:13px;
	line-height:16px;
	letter-spacing:3px;
	padding:11px 10px 13px 12px;
	margin:0 0 15px;
}
.col-r .details button:active {
	padding:12px 10px 12px 12px;
}
.col-r .method {
	display:inline-block;
	width:239px;
	color:#000000;
	vertical-align:top;
	padding:19px 14px 4px 15px;
	margin:0 -10px 20px 0;
	background:#f4f4f4;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.col-r .method a {
	color:#ac0004;
	text-decoration:underline;
}
.col-r .method a:hover {
	text-decoration:none;
}
.col-r .method h5 {
	font-size:13px;
	line-height:16px;
	padding:0;
	margin:0 0 10px;
}
.col-r .method ul {
	margin:-19px 0 14px;
}
.col-r .method ul li {
	font-size:12px;
	line-height:14px;
}
.col-r .method ul li:before {
	content:'— ';
}
.col-r .method p {
	font-size:12px;
	line-height:14px;
	margin:0 0 19px;
}
.col-r .desc {
	color:#000000;
	padding:26px 21px 20px 22px;
	margin:13px 0 24px;
	background:#f4f4f4;
}
.col-r .desc a {
	color:#ac0004;
	text-decoration:underline;
}
.col-r .desc a:hover {
	text-decoration:none;
}
.col-r .desc h5 {
	font-size:16px;
	line-height:19px;
	padding:0;
	margin:0 0 9px;
}
.col-r .desc p {
	font-size:13px;
	line-height:16px;
	margin:0 0 10px;
}
.col-r .list {
	padding:10px 0;
	margin:0 0 17px;
}
.col-r .list h3 {
	color:#101010;
	font-size:30px;
	line-height:32px;
	font-weight:normal;
    font-family:'Autoradiographic', sans-serif;
	text-transform:uppercase;
	padding:0;
	margin:0 0 17px;
}
.col-r .list ul {
	clear:both;
	overflow:hidden;
	margin:0 0 -19px;
}
.col-r .list ul li {
	float:left;
	margin:0 -1px 19px 0;
}
.col-r .item-e {
	width:224px;
	height:325px;
}
.col-r .item-e:after {
	bottom:62px;
}
.col-r .item-e h4 {
	left:21px;
	top:16px;
	width:183px;
	font-size:17px;
	line-height:18px;
	max-height:54px;
}
.col-r .item-e .pic {
	top:72px;
	-webkit-transform:scale(0.937);
	transform:scale(0.937);
	-webkit-transform-origin:center center;
	transform-origin:center center;
}
.col-r .item-e .price {
	left:19px;
	bottom:12px;
}
.col-r .item-e .price p {
	font-size:9px;
	line-height:11px;
	margin:0 0 6px;
}
.col-r .item-e .price h5 {
	font-size:19px;
	line-height:22px;
}
.col-r .item-e .price h5 em {
	font-size:20px;
	margin:0 0 0 -2px;
}
.col-r .item-e button {
	right:17px;
	bottom:16px;
	width:89px;
	font-size:11px;
	line-height:13px;
}
.col-r h1 {
	font-size:40px;
	line-height:42px;
	text-transform:uppercase;
	padding:0;
	margin:-2px 0 25px;
}
.filter-general {
	color:#101010;
	padding:23px 0 2px 30px;
	margin:0 0 17px;
	background:#d7d7d7;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.filter-general .item {
	display:inline-block;
	width:185px;
	vertical-align:top;
	margin:0 27px 19px 0;
}
.filter-general .item p {
	font-size:13px;
	line-height:16px;
	margin:0 0 8px;
}
.filter-general .item select {
	width:100%;
	color:#101010;
	font-size:13px;
	padding:5px 10px;
	background:#ffffff;
}
.filter-general .item.wide {
	width:400px;
}
.filter-general .item ul {
	width:calc(100% + 60px);
	padding:6px 0 6px;
	margin:0 0 -15px;
}
.filter-general .item ul li {
	display:inline-block;
	vertical-align:top;
	margin:0 25px 15px 0;
}
.filter-general .item ul li label {
	position:relative;
	display:inline-block;
	vertical-align:top;
	cursor:pointer;
	padding:0 0 0 24px;
}
.filter-general .item ul li label .checker {
	position:absolute;
	left:0;
	top:1px;
}
.filter-general div.checker, .filter-general div.checker input, .filter-general div.checker span {
	width:15px;
	height:15px;
}
.filter-general div.checker span {
	background:url('../img/checkbox-icon-m.png') center top no-repeat;
}
.filter-general div.checker span.checked{
	background-position:0 -15px;
}
.filter-general button {
	width:120px;
	font-size:13px;
	line-height:16px;
	font-weight:normal;
	letter-spacing:0;
	text-transform:none;
	padding:8px 10px 11px;
	margin:36px 0 19px 65px;
	background:#ef7f1b;
}
.filter-general button:active {
	padding:9px 10px 10px;
}
.filter-price {
	color:#101010;
	text-align:right;
	margin:0 0 10px;
}
.filter-price li {
	display:inline;
	font-size:13px;
	line-height:16px;
}
.filter-price li:before {
	content:'/';
	display:inline;
	padding:0 10px;
}
.filter-price li:first-child:before {
	display:none;
}
.filter-price li a {
	color:#101010;
	text-decoration:underline;
}
.filter-price li a:hover, .filter-price li.active a {
	text-decoration:none;
}
.category-list {
	display:inline-block;
	width:644px;
	vertical-align:top;
	margin:0 -10px 0 32px;
}
.category-list h1 {
	font-size:40px;
	line-height:42px;
	text-transform:uppercase;
	padding:0;
	margin:-2px 0 27px;
}
.category-list ul {
	margin:0 0 20px;
}
.category-list ul li {
	font-size:15px;
	line-height:18px;
	margin:0 0 12px;
}
.category-list ul li a {
	color:#000000;
	text-decoration:underline;
}
.category-list ul li a:hover {
	text-decoration:none;
}
.filter-opened {
	display:none;
	position:absolute;
	left:0;
	top:0;
	z-index:100;
	width:100%;
	background:#ef7f1b;
}
.filter-opened ul {
	width:960px;
	padding:23px 0 28px;
	margin:0 auto;
}
.filter-opened ul li {
	display:inline-block;
	width:400px;
	text-align:right;
	vertical-align:top;
	margin:0 87px 0 0;
}
.filter-opened ul li:nth-child(2n) {
	margin-right:-10px;
}
.filter-opened div {
	text-align:left;
	margin:0 0 17px;
}
.filter-opened p {
	color:#ffffff;
	font-size:12px;
	line-height:15px;
	letter-spacing:3px;
	font-weight:bold;
	text-transform:uppercase;
	margin:0 0 7px;
}
.filter-opened input, .filter-opened select {
	width:100%;
	color:#606060;
	font-size:15px;
	padding:3px 10px 4px;
	background:#ffffff;
}
.filter-opened select {
	padding:2px 6px 3px;
}
.filter-opened button {
	font-weight:bold;
	letter-spacing:2px;
	padding:12px 22px;
	margin:5px 0 -1px;
	background:transparent;
	border:3px solid #ffffff;
}
.search-result {
	display:none;
	position:absolute;
	left:50%;
	top:10px;
	width:410px;
	padding:27px 5px 15px 21px;
	margin-left:-490px;
	background:#f9f9f9;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
	-webkit-box-shadow:0 5px 5px rgba(0,0,0,0.5);
	box-shadow:0 5px 5px rgba(0,0,0,0.5);
}
.search-result .scroll {
	overflow:hidden;
	max-height:311px;
}
.search-result table {
	width:358px;
	margin:0;
	border-top:1px solid #eaecec;
}
.search-result table tr {
	cursor:pointer;
}
.search-result table td {
	color:#2c2c2c;
	padding:13px 0 14px 20px;
	border-bottom:1px solid #eaecec;
}
.search-result table td:first-child {
	width:59px;
	padding-left:0;
}
.search-result table td .pic {
	position:relative;
	width:57px;
	height:41px;
	margin:-4px 0 -5px;
	background:#ffffff;
	border:1px solid #eaecec;
}
.search-result table td .pic img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:57px;
	max-height:41px;
	margin:auto;
}
.search-result table td h4 {
	font-size:14px;
	line-height:17px;
	font-weight:normal;
    font-family:'Autoradiographic', sans-serif;
	padding:0;
	margin:0;
}
.search-result table td strong {
	display:block;
	color:#363636;
	font-size:17px;
	line-height:20px;
    font-family:'Roboto Condensed', sans-serif;
	white-space:nowrap;
}
.jspContainer {
	overflow:hidden;
	position:relative;
}
.jspPane {
	position:absolute;
}
.jspVerticalBar {
	position:absolute;
	top:0;
	right:0;
	width:6px;
	height:100%;
}
.jspCap {
	display:none;
}
.jspTrack {
	position:relative;
}
.jspDrag {
	position:relative;
	top:0;
	left:0;
	cursor:pointer;
	background:#acacac;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
	float:left;
	height:100%;
}
.fade {
	display:none;
	position:fixed;
	left:0;
	top:0;
	z-index:1000;
	width:100%;
	height:100%;
	background:url('../img/fade-bg.png') repeat;
}
.modal {
	display:none;
	position:absolute;
	left:50%;
	top:0;
	z-index:1010;
	width:322px;
	text-align:center;
	padding:42px 53px 25px 55px;
	margin-left:-215px;
	background:#ffffff;
}
.modal h4 {
	color:#101010;
	font-size:20px;
	line-height:30px;
	font-weight:normal;
    font-family:'Autoradiographic', sans-serif;
	padding:0;
	margin:0 0 16px;
}
.modal h4 img {
	display:block;
	margin:34px auto 8px;
}
.modal ::-webkit-input-placeholder  {
	color:#9a9a9a;
}
.modal :-moz-placeholder {
	color:#9a9a9a;
}
.modal ::-moz-placeholder {
	color:#9a9a9a;
}
.modal :-ms-input-placeholder {
	color:#9a9a9a;
}
.modal p {
	margin:0 0 17px;
}
.modal p input, .modal p textarea {
	width:100%;
	font-size:13px;
	padding:12px 18px 13px;
	background:#ededed;
}
.modal p textarea {
	margin:0 0 -4px;
	resize:vertical;
}
.modal button {
	width:100%;
	font-size:13px;
	line-height:16px;
	letter-spacing:4px;
	padding:13px 15px 14px;
	margin:0 0 17px;
	background:#ef7f1b;
}
.modal .close {
	position:absolute;
	right:13px;
	top:14px;
	display:block;
	width:33px;
	height:33px;
	cursor:pointer;
	background:url('../img/close-icon.png') no-repeat center center;
}
.modal h6 {
	font-size:13px;
	line-height:16px;
	font-weight:normal;
	padding:0;
	margin:-10px 0 17px;
}
.modal h6 a {
	color:#000000;
	text-decoration:underline;
}
.modal h6 a:hover {
	text-decoration:none;
}
.modal h4 + button {
	margin-top:8px;
}
.pages-e {
	text-align:center;
	margin:26px 0 7px;
}
.pages-e ul {	
	display:inline-block;
	clear:both;
	overflow:hidden;
	margin:0;
}
.pages-e li {
	position:relative;
	float:left;
	margin:0 0 0 -1px;
}
.pages-e li:first-child {
	margin-left:0;
}
.pages-e li:first-child a {
	-webkit-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
}
.pages-e li:last-child a {
	-webkit-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
}
.pages-e li a, .pages-e li span {
	display:block;
	height:36px;
	min-width:38px;
	color:#000000;
	font-size:12px;
	line-height:16px;
	font-weight:500;
	padding:9px 5px;
	border:1px solid #e8e8e8;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
.pages-e li a.prev {
	background:url('../img/pages-arrows.png') no-repeat left top;
}
.pages-e li a.next {
	background:url('../img/pages-arrows.png') no-repeat right top;
}
.pages-e li.active a {
	color:#ffffff;
	background:#000000;
}